dt {
	font-weight: bold;
	margin: 0.5em;
}

dl {
	padding-top: 1em;
}

.changedrow-enter td > div {
  max-height: 1px;
  transition: max-height .5s ease-in;
}

.changedrow-enter.changedrow-enter-active td > div {
  max-height: 50px;
}

.changedrow-leave td > div {
  max-height: 50px;
  transition: max-height .5s ease-in;
}

.changedrow-leave.changedrow-leave-active td > div {
  max-height: 1px;
}


.nav {
	height: 30px;
	background: url(../img/layer-red.png);
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}

.nav a {
	margin-left: 2em;
	color: #ffda9d;
	font-family: 'Quattrocento', serif;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
}

.nav a.active {
	color: #ffda52;
	text-shadow: 0 0 10px #ffda52;
}

h3 {
	background-image: url(../img/spear.png);
	background-position: 0 bottom;
	background-repeat: no-repeat;
	height: 40px;
	width: 800px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;	
	text-align: center;
	color: #43160F;
	font-family: 'Quattrocento', serif;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
}

.searchbutton {
	margin: 1em 5em;
}

.wrapper {
	max-width: 800px;
	margin: 1em auto;
}

.instruction {
	font-style: italic;
	font-size: 0.9em;
}

.attackgrid {
	font-size: 10px;
	font-family: "monospace";
	border: 1px solid #555;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1px;
}

.unittable > * > tr:nth-child(even) {
  background-color: #CCC;
}

.move {
	color: red;
}

.attack {
	box-sizing: border-box;
	height: 10px;
	width: 10px;
}

.reticulegrid {
	font-size: 13px;
	font-family: "monospace";
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid black;
	display: inline-block;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}

.reticulegrid td {
	height: 30px;
	width: 30px;
	text-align: center;
	vertical-align: middle;
	border: none;
}

.reticulegrid tr:nth-child(2) td:nth-child(2) {
	font-weight: bold;
}

table.hitgrid {
	border: 1px solid #555;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 1px;
	margin: 1px;
}

.hitgrid td {
	height: 2px;
	width: 2px;
	position: relative;
	border: 1px solid transparent;
}

.hitgrid td div {
	height: 2.2px;
	width: 2.2px;
	top: 0;
	left: 0;
}

.canhit { background-color: red; }
.home { background-color: blue; }


.frequencytable {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
	display: inline-block;
	margin-right: 0.7em;
	margin-bottom: 0.5em;
}
.frequencytable td {
	min-width: 20px;
	border: 1px solid #777;
	font-family: sans-serif;
	font-size: 12px;
	padding: 2px;
}

.frequencytable tr:first-child td:first-child, .frequencyaverage {
	font-weight: bold;
}



.unittable {
	font-family: sans-serif;
	font-size: 12px;
	border-collapse: collapse;
	border-spacing: 0;
	margin-left: 1em;
	margin-bottom: 1em;
}

.unittable th {
	cursor: pointer;
}

.armytable thead tr th, .armytable tbody tr td {
	padding: 3px;
	text-align: center;
}

.unittable > * > tr > * {
	padding: 1px;
}

.unit {
	padding: 1px;
}

.unit td:first-child {
	text-align: left;
}

.unit > td {
	text-align: center;
	padding: 1px 3px;
}

thead {
	background-color: #333;
	color: white;
}

.option {
	padding: 3px;
	background-color: #999;
	cursor: pointer;
}

.searchtable {
	text-align: center;
}

.searchtable td {
	padding: 2px 5px;
}

.optionname {
	cursor: pointer;
	background-color: #C6B89F;
	text-align: right;
	font-weight: bold;
}

.option.selected {
	background-color: #92C687;
}

.optionlist {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-bottom: 0.5em;
}
